<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bikobi</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ get_url(path='style.min.css') }}" type="text/css">
    </head>

    <body>
        <header>
            <h1>404 Not Found</h1>
        </header>

        <main>
            <p>Unrecognized URL</p>
            <p><strong><code>¯\(°_o)/¯</code></strong></p>
            <p><small><a href="/">Back to home.</a></small></p>
        </main>

    </body>
</html>

