<!DOCTYPE html>
<html lang="{{ config.extra.language_code | default(value='en-US')}}">
    <head>
        <meta charset="UTF-8">
        <title>Bikobi</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ get_url(path='style.min.css') }}" type="text/css">
    </head>

    <body>
        <header>
            {% include "header.html" %}
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>
