<p><small>
    Copyright &#169; <time datetime="{{ now(timestamp=true) }}">{{ now() | date(format='%Y') }}</time> {{ config.extra.owner_name }} | CC BY-NC-SA (no A.I. use permitted) &mdash; Some rights reserved.
    <br>
    <a href="#">back to top</a>
</small></p>
