<nav>
    <details><summary>Bikobi</summary>
        <ul>
            <li><a href="{{ config.base_url }}">Home</a></li>
            <li><a href="{{ get_url(path='@/post/_index.md') }}">Posts</a></li>
            <li><a href="/{{ config.feed_filenames[0] }}">Feed</a></li>
            <li>
                <details><summary>Wiki</summary>
                    <ul>
                        {% set wiki = get_section(path="wiki/_index.md") %}
                        {% for subsection in wiki.subsections %}
                            {% set s = get_section(path=subsection) %}
                            <li> <a href="{{ s.permalink }}">{{ s.title }}</a></li>
                        {% endfor %}
                    </ul>
                </details>
            </li>
            <li>
                <details><summary>Contacts</summary>
                    <ul>
                        {% for k, v in config.extra.contacts %}
                        <li><a href="{{ v }}">{{ k }}</a></li>
                        {% endfor %}
                    </ul>
                </details>
            </li>
        </ul>
    </details>
</nav>
