{% extends "base.html" %}

{% block content %}

<h1>{{ page.title }}</h1>

{% if page.date %}
    <p><code><time>{{ page.date | date(format="%a, %b %-d, %Y") }}</time></code></p>
{% endif %}

{{ page.content | safe}}

{% endblock content %}
