{% extends "base.html" %}

{% block content %}

<h1>{{ section.title }}</h1>

{{ section.content | safe }}

<ul>
    {% for page in section.pages %}
    <li>
        <p>
            <a href="{{ page.permalink | safe}}">{{ page.title }}</a>
            {% if page.date %}<span style="float: right"><code>{{ page.date | date(format="%d-%m-%Y") }}</code></span></p> {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock content %}
