{% extends "base.html" %}

{% block content %}

<h1>{{ section.title }}</h1>

{{ section.content | safe }}

<ul>
    {% for subsection in section.subsections %}
    {{ subsection }}
        {% set s = get_section(path=subsection)%}
        <p>{{ s.title }}</p>

    {% endfor %}
</ul>

{% endblock content %}
